@model WebEditor.EFModel.BitmapSequence
@{
    ViewBag.Title = "Edit Bitmap Sequence";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.BitmapSequenceId)
    <div class="form-group">
    @Html.LabelFor(m => m.BitmapSequenceName)
    @Html.TextBoxFor(m => m.BitmapSequenceName, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
}
