@model Towditor.Web.EFModel.Bitmaps

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Bitmaps</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-parentid="@ViewData["ParentId"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BitmapId" />
            <div class="form-group">
                <label asp-for="BitmapWidth" class="control-label"></label>
                <input asp-for="BitmapWidth" class="form-control" />
                <span asp-validation-for="BitmapWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BitmapHeight" class="control-label"></label>
                <input asp-for="BitmapHeight" class="form-control" />
                <span asp-validation-for="BitmapHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BitmapSequenceId" class="control-label"></label>
                <select asp-for="BitmapSequenceId" class="form-control" asp-items="ViewBag.BitmapSequenceId"></select>
                <span asp-validation-for="BitmapSequenceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BitmapIndex" class="control-label"></label>
                @Html.DisplayFor(x=>x.BitmapIndex)
                <span asp-validation-for="BitmapIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (ViewData.ContainsKey("ParentId"))
    {
        <a asp-action="Details" asp-controller="BitmapSequence" asp-route-id="@ViewData["ParentId"]">Back to Bitmap Sequence</a>
    }
    else
    {
        <a asp-action="Index">Back to List</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
