@model Towditor.Web.EFModel.Glyphs

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Glyphs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GlyphId" />
            <div class="form-group">
                <label asp-for="GlyphCharacter" class="control-label"></label>
                <input asp-for="GlyphCharacter" class="form-control" readonly="readonly" />
                <span asp-validation-for="GlyphCharacter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FontId" class="control-label"></label>
                <select asp-for="FontId" class="form-control" asp-items="ViewBag.FontId"></select>
                <span asp-validation-for="FontId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GlyphWidth" class="control-label"></label>
                <input asp-for="GlyphWidth" class="form-control" />
                <span asp-validation-for="GlyphWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (ViewData.ContainsKey("ParentId"))
    {
        <a asp-action="Details" asp-controller="Font" asp-route-id="@ViewData["ParentId"]">(font)</a>
    }
    else
    {
        <a asp-action="Index">(list)</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
