@page "/"

<PageTitle>TOWD</PageTitle>

@if (!GetContext().IsClosed)
{
	<pre>
			@foreach (var line in GetContext().GetLines())
			{
					@line.Item2
					@if (line.Item3)
					{
			<br />
					}
			}
		</pre>
	<pre>
		@GetContext().GetPrompt() <br/>
		
			@foreach (var choice in GetContext().GetChoices())
		{
		<button @onclick="() => MakeChoice(choice)">@choice</button><br/>
		}
	</pre>
}

@code {

	private towd.ui.IUIContext<towd.business.IWorld>? _context = null;

	private towd.ui.IUIContext<towd.business.IWorld> GetContext()
	{
		if(_context==null)
		{
			_context = new towd.ui.UIContext(new Persister());
		}

		return _context;
	}

	private void MakeChoice(string choice)
	{
		GetContext().Choose(choice);
	}
}
