@page "/"

<PageTitle>TOWD</PageTitle>

@if (!context.IsClosed)
{
	<pre>
			@foreach (var line in context.Lines)
			{
					@line.Item2
					@if (line.Item3)
					{
			<br />
					}
			}
		</pre>
	<pre>
		@context.Prompt <br/>
		
		@foreach (var choice in context.Choices)
		{
		<button @onclick="() => MakeChoice(choice)">@choice</button><br/>
		}
	</pre>
}

@code {
	private towd.ui.IUIContext<towd.business.IWorld> context = new towd.ui.UIContext(new Persister());

	private void MakeChoice(string choice)
	{
		context.Choose(choice);
	}
}
