@{
    ViewData["Title"] = "Home Page";
}
<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Bitmap" asp-action="Index">Bitmaps</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="BitmapSequence" asp-action="Index">Bitmap Sequences</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Font" asp-action="Index">Fonts</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="World" asp-action="Index">Worlds</a>
    </li>
</ul>
