@model WebEditor.EFModel.World
@{
    ViewBag.Title = "Edit World";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.WorldId)
    <div class="form-group">
        @Html.LabelFor(m => m.WorldName)
        @Html.TextBoxFor(m => m.WorldName, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
}
