@model Towditor.Web.Models.RoomDuplicationModel

@{
    ViewData["Title"] = "Duplicate";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Duplicate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TemplateRoomId" />
            <div class="form-group">
                <label asp-for="TemplateRoomName" class="control-label"></label>
                <input asp-for="TemplateRoomName" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="DuplicateRoomName" class="control-label"></label>
                <input asp-for="DuplicateRoomName" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Duplicate" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="Room" asp-route-id="@Model.TemplateRoomId">Back to Original</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
