@model IEnumerable<WebEditor.EFModel.Font>
@{
    ViewBag.Title = "Font List";
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Font Name</th>
            <th>Height</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FontName
                    <a href="@Url.Action("Detail", new { id=item.FontId })">(view)</a>
                    <a href="@Url.Action("Edit", new { id=item.FontId })">(edit)</a>
                </td>
                <td>
                    @item.FontHeight
                </td>
            </tr>
        }
    </tbody>
</table>
