@{
    ViewBag.Title = "Home Page";
}
<ul class="list-group">
    <li class="list-group-item">@Html.ActionLink("Bitmap Sequences", "Index", "BitmapSequence")</li>
    <li class="list-group-item">@Html.ActionLink("Fonts", "Index", "Font")</li>
</ul>

