@model Towditor.Web.EFModel.WorldCreatures

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>WorldCreatures</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WorldId" class="control-label"></label>
                <select asp-for="WorldId" class ="form-control" asp-items="ViewBag.WorldId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CreatureId" class="control-label"></label>
                <select asp-for="CreatureId" class ="form-control" asp-items="ViewBag.CreatureId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
